@charset "utf-8";

* {
	margin:0;
	padding:0;	
}

body {
	width:100%;
	height:100%;
	background-image:url('image/bg.jpg');
	background-repeat:repeat;	
}

div.container {
	width:980px;
	margin:0 auto;	
	padding:1px;
}

h1 {
	text-align:center;	
}

div.slider {
	width:800px;
	height:450px;
	margin:0 auto;
	position:relative;
	overflow:hidden;	
}

div.bgslide {
	width:800px;	
	height:400px;
	box-shadow:0 0 10px 2px #D73E35;
	background-image:url('iamge/ld.gif');	
}

div.slides {
	width:18000px;
	height:400px;
	float:left;
	position:absolute;
	transition:all 2s;
	-moz-transition:all 2s;
	-webkit-transition:all 2s;
	-o-transition:all 2s;
	-ms-transition:all 2s;	
}

div.slides div {
	width:800px;
	height:inherit;
	float:left;
}

div.back, div.next {
	width:30px;
	height:30px;
	position:absolute;
	cursor:pointer;
	top:200px;
	opacity:0;
	-webkit-transition:opacity 1s;
}

div.back {
	background-image:url('image/back.png');
	background-repeat:no-repeat;
	left:10px;	
}

div.next {
	background-image:url('image/next.png');
	background-repeat:no-repeat;
	right:10px;
}

div.slider:hover div.back, div.slider:hover div.next {
	opacity:1;	
}

ul.btns {
	margin-top:10px;
	cursor:pointer;	
	list-style-type:none;
}

ul.btns li {
	float:left;
	margin-left:14px;
	margin-top:420px;
	border:solid 2px black;
	width:10px;
	height:10px;
	border-radius:50px;
	opacity:0.5;
	transition:all 1s;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
}

ul.btns li:hover, ul.btns li.active {
	opacity:1;
	box-shadow:0 0 10px 2px #D73E35;
	background-color:#727272;
	transition:all 1s;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;	
}