div.container{
	width: 950px;
	margin: 0 auto;
	padding-top: 1px;
}

div.container div.slideshow{
	width: 870px;
	height: 270px;
	margin: 20px auto 0;
	overflow: hidden;
	position: relative;
	background-image: url('../../images/loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
	outline: 1px solid black;
}

div.container div.slideshow div.train{
	width: 10000px;
	height: inherit;
}

div.container div.slideshow div.train > div{
	height: inherit;
	float: left;
	background-repeat: no-repeat;
	background-position: left top;
	cursor: pointer;
}