@charset "utf-8";
/* CSS Document */

*{
	padding:0px;
	margin :0px;
}
body{
	background-color: black;
}
div.container{
	width      :auto;
	height     :450px;
	padding-top:1px;
}
div.slideshow{
	width     :800px;	
	height    :430px;
	margin    :0 auto;
	overflow  :hidden;
	position  :relative;
	margin-top:10px;
}
div.train{
	width             :3200px;
	height            :400px;
	position          :absolute;
	left              :0px;
	background-color  :black;
	-webkit-transition:left 1s ease-in-out;
}
div.train > div{
	width :800px;
	height:400px;
	float :left;
}
div.btn{
	width   :200px;
	height  :30px;
	position:absolute;
	bottom  :0;
	left    :290px;	
}
div.btn ul{
	list-style-type:none;	
}
div.btn ul > li {
	width                :30px;
	height               :15px;
	float                :left;
	background-color     :#58d;
	margin-top           :7.5px;
	margin-left          :10px;	
	-webkit-border-radius:3px;
	-webkit-transition   :all 400ms;
}
div.btn ul > li:hover , div.btn li.active{
	height          :20px;
	margin-top      :5px;
	background-color:#35a;
}
div.back,div.next{
	position          : absolute;
	width             : 80px;
	height            : 80px;
	background-image  : url(./image/bn.png);
	opacity           : 0;
	cursor            : pointer;
	-webkit-transition: opacity 500ms;
}
div.back{
	top                :150px;
	left               : 0px;
	background-position: 0px 0px;
}
div.next{
	top                : 150px;
	right              : 0px;
	background-position: -80px 0px;
}
div.slideshow:hover div.back,div.slideshow:hover div.next{
	opacity: 1;
}