/*
 * Gallery v1
 */

@charset "UTF-8";

body{
	background-color: #001;
}

div.container{
	width: 950px;
	margin: 0 auto;
}

div.gallery{
	position: relative;
	width: 800px;
	height:600px;
	border:1px solid gray;
	margin: 50px auto 0;
}

div.gallery div.bg-div{
	display: block;
	position: absolute;
	top:245px;
	left:325px;
}

div.gallery div.bg-div{
	border:8px solid #fff;
	border-bottom:35px solid #fff;
	outline:1px dashed #000;
	outline-offset:-3px;
	/*
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;*/
}
/*
div.gallery div.bg-div:hover{
	-webkit-transform:scale(2.5,2.5) rotate(360deg);
	-moz-transform:scale(2.5,2.5) rotate(360deg);
	-ms-transform:scale(2.5,2.5) rotate(360deg);
	-o-transform:scale(2.5,2.5) rotate(360deg);
	transform:scale(2.5,2.5) rotate(360deg);
}
*/
div.gallery div.bg-div{
	width:250px;
	height:150px;
	background-position:100% 100%;
	background-repeat:no-repeat;	
	cursor:pointer;
}

div.gallery div.bg-div div.text{
	font-size:18px;
	padding-left:5px;
	color:black;
	position:absolute;
	bottom:-22px;
}