* {
	padding: 0;
	margin: 0;
}

div.container {	

}

nav.right-menu {
	position: absolute;
	left:-70px;
	top:10px;
}

nav.right-menu menu {
	width:100px;
	list-style-type: none;	
}

nav.right-menu li {
	border-bottom:2px solid #fff;
	background-color:#1d2d3d;
	height:60px;
}

nav.right-menu li:hover{
	margin-left:70px;
}

nav.right-menu a {
	
}

nav.right-menu a div.txt {
	font-size: 12px;
	font-family: cursive;
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 60px;
	color:#FFF;
	-webkit-transform:rotate(90deg); 
	margin-left: 55px;
	margin-top: -55px;
	text-transform: capitalize;
	overflow: hidden;

}

