@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

div.back-image{
	background-color:#2a2a2a;
}

div.container{
	width:980px;
	margin:0 auto;
	padding:1px;	
}

div.slideshow{
	border-radius:5px;
	width:920px;
	overflow: hidden;
	margin     : 60px auto 0;
}

div.slideshow div.train{
		width: 2000px;
}

div.slideshow div.train > div{
	width:600px;
	height:400px;
	float:left;
}