@charset "utf-8";
/* CSS Document */

*{
 padding:0;
 margin:0;	
}

body.back-image{
	/*background-image:url('images/14.png');*/
	background-color:#1e2a38;
}

div.container{
	width:980px;
	margin:0 auto;
	padding:1px;
}

div.slide{
	width:600px;
	height:430px;
	margin:55px 0px 0px 55px;
	position:relative;
	overflow:hidden;
}

div.slide div.train{
	width:5000px;
	height:400px;
	position:absolute;
	left:0;
	top:0;
	-webkit-transition : all 500ms ease-out;
	-moz-transition : all 500ms ease-out;
	-ms-transition : all 500ms ease-out;
	-o-transition : all 500ms ease-out;
	transition : all 500ms ease-out;
}

div.slide div.train > div{
	float:left;
	width:600px;
	height:inherit;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
}

/* ------------ next & prv --------- */

div.slide div.prv,
div.slide div.next{
	position : absolute;
	top      : 185px;
	width    : 30px;
	height   : 30px;
	opacity  : 0;
	cursor   : pointer;
	background-image   : url('images/nivo-arrows.png');
	background-repeat  : no-repeat;
	-webkit-transition : opacity 500ms;
	-moz-transition : opacity 500ms;
	-ms-transition : opacity 500ms;
	-o-transition : opacity 500ms;
	transition : opacity 500ms;
}

div.slide:hover div.prv,
div.slide:hover div.next{
	opacity : 1;
}

div.slide div.prv{
	left : 10px;
	background-position : 0px 0px;
}

div.slide div.next{
	right : 10px;
	background-position : -30px 0px;
}

/* ------------ button ------------ */

div.slide ul.button{
	list-style: none;
	position: absolute;
	left: 240px;
	bottom: -10px;
}

div.slide ul.button li{
	float: left;
	background-image:url('images/bullets.png');
	background-position : 0px 0px;
	width:22px;
	height:25px;
	cursor: pointer;
	margin-right: 0px;
}

div.slide ul.button li:hover {
	background-position : 0px -22px;
}


div.slide ul.button li.active{
	background-position : 0px -22px;
}

/* ------------------- Back Slide ------------------------ */
div.backSlide{
	background-image:url('images/back.png');
	background-repeat:no-repeat;
	height:600px;
	margin-left:160px;
	padding-top:1px;
	margin-top:40px;
}
/* ------------------ ribbon ------------ */
div.ribbon{
	width:88px;
	height:111px;
	background-image:url('images/ribbon.png');
	z-index:5;
	position: absolute;
	top: 0px;
	left: 5px;
	opacity:0.7;
}