body{
	background-color:black;
}

div.slider{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
	width:710px;
	height:400px;
	overflow:hidden;
}

div.slider div.scroll{
	height:inherit;
	width:950px;
}

div.slider div.scroll > div{
	height:inherit;
	overflow:hidden;
	float:left;
	width:110px;
	border-left:5px black solid;
}

div.slider div.scroll > div img{
	opacity:.5;
	-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%,transparent),to(rgba(255,255,255,0.5)));
	-webkit-transition:opacity 1s;
	display:block;
}

div.slider div.scroll > div:first-child img{
	border-radius:10px 0 0 10px;
}

div.slider div.scroll > div:last-child img{
	border-radius:0 10px 10px 0;
}


div.slider div.scroll > div img:hover{
	opacity:1;
}