@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

div.container{
	width:850px;
	height:450px;
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}

div.container .circlemenu{
	list-style:none;
}

div.container .circlemenu li{
	position:absolute;
	top:200px;
	left:400px;
	width:62px;
	height:62px;
	cursor:pointer;
}

div.container .circlemenu li p{

}